a.site-title{
  font-size: 2em;
  text-align: center;
}

a.site-title:hover{
  font-size: 2em;
}

th, td{
  padding: 3px 5px 3px 5px;
}

img{
  margin-left: 10px;
  border-left: 5px solid #444;
  padding: 5px;
  max-width: 100%;
}

/* Vis.js Over-rides */
.vis.timeline .item {
  position: absolute;
  color: #1A1A1A;
  border-color: #97B0F8;
  border-width: 1px;
  background-color: #D5DDF6;
  display: inline-block;
  padding: 1px;
  margin: 0px;
  font-size: 10px;
  /* Safari */
  -webkit-transform: rotate(30deg);
  /* Firefox */
  -moz-transform: rotate(30deg);
  /* IE */
  -ms-transform: rotate(30deg);
  /* Opera */
  -o-transform: rotate(30deg);

}

.viz.timeline .item .point:hover{
  cursor: pointer;
}

.viz.timeline .item .point{
}

.viz.timeline .item .point .selected{
  background-color: "yellow";
}

/* .vis.timeline .labelset .vlabel .inner {
  font-size: 10px;
} */

/* D3 */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: left;
}

.chart{
  border: 1px dotted blue;
}

.axis {
  shape-rendering: crispEdges;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

hr.separator{
  margin: 10px;
}
