a.site-title{
  font-size: 2em;
  text-align: center;
}

a.site-title:hover{
  font-size: 2em;
}

th, td{
  padding: 3px 5px 3px 5px;
}

img{
  margin-left: 20px;
  border-left: 2px solid #222;
  padding-left: 1px;
}
