_site/*
*.pages/
*.DS_Store
*.pdf

#Datasets for Visualizations
!datasets/**

#Datasets for Local use
*data/**
*.kml
.txt

*_secret*

*.lock

cloud_export/users_to_code/*
cloud_export/NJ_UsersToCode/*

exports/*

#We need to ignore shapefiles
*.shp
*.shx
*.prj
*.dbf

#Also, Ignore anythign from QGS
*.qgs
*.Rproj.user
