<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl}}">

    <!-- JQUERY -->
	<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery-ui.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery-ui.css" type="text/css">

    <!-- Leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="{{ site.baseurl }}/assets/js/leaflet.ajax.min.js"></script>


    <!--Clustering -->
    <script src="{{ site.baseurl }}/assets/js/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/MarkerCluster.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/MarkerCluster.Default.css" />

    <!--Scroller -->
    <script src="{{site.baseurl}}/assets/js/leaflet.SliderControl.min.js" type="text/javascript"></script>

    <!--VisJS-->
    <link href="{{site.baseurl}}/assets/css/vis.css" rel="stylesheet" type="text/css" />
    <script src="{{site.baseurl}}/assets/js/vis.js"></script>

    <!--D3-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{site.baseurl}}/assets/js/charts.js"></script>

    <style type="text/css">
        img{
            border: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
